/* RODAPE */
footer {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-top: 1px solid #85858579;
    background-color: #F9F9F9;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.footer-content {
    max-width: 1512px;
    margin: auto;
}

.footer-subtitle {
    font-size: .875rem;
    color: #858585;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-list__item {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .875rem;
}

.footer-container.footer-mobile {
    display: block;
}

.footer-container {
    display: none;
}

@media screen and (min-width: 1024px) {
    footer {
        padding-block: 3.5rem 5rem;
    }

    .footer-content {
        display: flex;
        justify-content: space-around;
    }

    .footer-container {
        display: block;
    }

    .footer-container.footer-mobile {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .footer-container {
        border-left: 1px solid #85858570;
        padding-left: 1.25rem;
    }

    .footer-container.footer-container.footer-mobile {
        border-left: none;
    }
}