/* ULTIMOS LANCAMENTOS & MAIS VENDIDOS*/
.swiper-card {
    background-color: var(--color-bg-section);
    margin-bottom: 1.5rem;
}

.swiper-card__header {
    text-align: center;
    padding-bottom: .5rem;
    background-color: var(--color-bg-body);
}

.swiper-card__header__title {
    padding: .2rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-font-primary);
}


/* carousel */
.swiper-slide img {
    width: 100%;
    max-width: 328px;
    user-select: none;
}

.swiper-pagination {
    position: initial;
    user-select: none;
    margin-block: .5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-font-secondary);
}

.swiper {
    position: relative;
}

.swiper-btn-prev {
    width: max-content;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    line-height: 0;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--color-font-secondary);
    user-select: none;
    position: absolute;
    top: calc(50%); 
    transform: translateY(-50%);
    left: 0;
    z-index: 50;
    opacity: .9;
    display: none;
}

.swiper-btn-next {
    width: max-content;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    line-height: 0;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--color-font-secondary);
    user-select: none;
    position: absolute;
    top: calc(50%); 
    transform: translateY(-50%);
    right: 0;
    z-index: 50;
    opacity: .9;
    display: none;
}


/* card */
.card-wrapper {
    padding-block: 1rem;
}

.card {
    max-width: 588px;
    margin: auto;
    padding: 1rem;
    line-height: 1.5rem;
    background-color: var(--color-bg-body);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .875rem;
}

.card__container__text {
    display: flex;
    flex-direction: column;
    gap: .875rem;
}

.card__container__text h3 {
    font-weight: 700;
    color: var(--color-font-primary);
}

.card__container__text h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-font-secondary);
}

.card__container__text p {
    font-size: .875rem;
    font-weight: 400;
}

.card__container__icons {
    display: flex;
    gap: 2rem;
}

.card__text__icons a {
    padding: .5rem;
}

.card__container>a {
    display: block;
    padding-block: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: var(--color-font-base);
    background-color: var(--color-bg-button);
}

.card__container>img {
    max-width: 100%;
}


@media screen and (min-width: 1024px) {
    .swiper-card__header__title {
        font-size: 1.625rem;
        margin-top: 3rem;
        margin-bottom: .5rem;
    }

    .swiper-pagination {
        margin-block: 2rem 1rem;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .swiper-wrapper {
        padding-block: 3rem;
    }

    .swiper-btn-next,
    .swiper-btn-prev {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-wrapper {
        padding: 3rem;
    }

    .card {
        gap: 5rem;
    }

    .card__container__text {
        gap: .5rem;
    }
}

@media screen and (min-width: 1728px) {
    .swiper-card__header__title {
        font-size: 2rem;
    }

    .swiper-btn-next,
    .swiper-btn-prev {
        height: 36px;
        width: 36px;
        font-size: 2rem;
    }

    .content-wrapper.swiper-card-wrapper {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .card-wrapper {
        width: 100%;
        padding: 0;
    }

    .card__container__text h3 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .card__container__text p {
        font-size: 1rem;
    }

    .card__container__text {
        gap: .875rem;
    }

    .swiper-pagination {
        margin-top: 3rem;
    }

    .swiper-wrapper {
        padding-block: 1rem 6rem;
    }
}