/* TOPICOS VISITADOS RECENTEMENTE */
.content-wrapper.recently-visited-wrapper {
    max-width: 1024px;
}

.recently-visited {
    padding-block: 1.5rem;
    text-align: center;
    color: var(--color-font-base);
}

.recently-visited__title {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.recently-visited__items {
    padding-inline: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.recently-visited__item a {
    display: inline-block;
    width: max-content;
    text-decoration: none;
    color: inherit;
    padding: 1rem 1.5rem;
    background-color: var(--color-bg-button);
    font-size: .875rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .recently-visited {
        padding-block: 2rem;
    }

    .recently-visited__title {
        font-size: 1.5rem;
    }

    .recently-visited__item a {
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
    }

    .recently-visited__items {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .recently-visited {
        padding-block: 4rem 5rem;
    }

    .recently-visited__title {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}